Repository MattTrinder1/PfP2: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/deploy-mock-pnc-api.yml, Pipelines/devApiPipeline.yml, Pipelines/systemTestQueueListenersPipeline.yml

Pipelines/deploy-mock-pnc-api.yml:

trigger:
  batch: true
  branches: 
      include:
      - master
  paths:
    include:
    - PNC/*


pool:
  vmImage: windows-latest

stages:

  - stage: BuildMockPNCAPI
    displayName: Build Mock PNC API
    jobs:
    - job: BuildMockPNCAPI
      steps:
        - template: buildNDIAPI.yml
          parameters:
            configuration: Mock

Pipelines/devApiPipeline.yml:

trigger:
  batch: true
  branches: 
      include:
      - master
  paths:
    include:
    - MiddleTier/*


pool:
  vmImage: windows-latest

stages:

  - stage: BuildAPI
    displayName: BuildAPI
    jobs:
    - job: BuildAPI
      steps:
        - template: buildAPI.yml
          parameters:
            configuration: Release

  - stage: DeployAPIToDev
    displayName: Deploy API to Dev
    jobs:
    - deployment: DeployAPIToPfPDev
      environment: PfPDevAzure
      displayName: Deploy API
      workspace:
        clean: all 
      strategy:
        runOnce:
          deploy:
            steps:
              - template: deployAPI.yml
                parameters:
                  serviceConnectionName: PfPDev-ab46c5b7b4fa


  - stage: DeployAPIToTest
    displayName: Deploy API to SysTest
    jobs:
    - deployment: DeployAPIToPfPSysTest
      environment: PfPSysTestAzure
      displayName: Deploy API
      workspace:
        clean: all 
      strategy:
        runOnce:
          deploy:
            steps:
              - template: deployAPI.yml
                parameters:
                  serviceConnectionName: PfPSysTest-ec70


  - stage: DeployAPIToUAT
    displayName: Deploy API to UAT
    jobs:
    - deployment: DeployAPIToPfPUAT
      environment: PfPUATAzure
      displayName: Deploy API
      workspace:
        clean: all 
      strategy:
        runOnce:
          deploy:
            steps:
              - template: deployAPI.yml
                parameters:
                  serviceConnectionName: PfPUAT-8975

Pipelines/systemTestQueueListenersPipeline.yml:

trigger:
  batch: true
  branches: 
      include:
      - master
  paths:
    include:
    - MiddleTier


pool:
  vmImage: windows-latest

stages:

  - stage: BuildQueueListeners
    displayName: BuildQueueListeners
    jobs:
    - job: BuildQueueListeners
      steps:
        - template: buildQueueListeners.yml
          parameters:
            configuration: Release


  - stage: DeployQueueListenersToDev
    displayName: Deploy Queue Listeners to Dev
    jobs:
    - deployment: ReleaseToPfPDev
      environment: PfPDevAzure
      displayName: Deploy Queue Listeners
      workspace:
        clean: all 
      strategy:
        runOnce:
          deploy:
            steps:
              - template: deployQueueListeners.yml
                parameters:
                  serviceConnectionName: PfPDev-ab46c5b7b4fa

  - stage: DeployQueueListenersToSysTest
    displayName: Deploy Queue Listeners to SysTest
    jobs:
    - deployment: ReleaseToPfPSysTest
      environment: PfPSysTestAzure
      displayName: Deploy Queue Listeners
      workspace:
        clean: all 
      strategy:
        runOnce:
          deploy:
            steps:
              - template: deployQueueListeners.yml
                parameters:
                  serviceConnectionName: PfPSysTest-ec70

  - stage: DeployQueueListenersToUAT
    displayName: Deploy Queue Listeners to UAT
    jobs:
    - deployment: ReleaseToPfPUAT
      environment: PfPUATAzure
      displayName: Deploy Queue Listeners
      workspace:
        clean: all 
      strategy:
        runOnce:
          deploy:
            steps:
              - template: deployQueueListeners.yml
                parameters:
                  serviceConnectionName: PfPUAT-8975

Updated buildNDIAPI.yml
  Pipelines/buildNDIAPI.yml
Due: none

Update deploy-mock-pnc-api.yml for Azure Pipelines
  Pipelines/deploy-mock-pnc-api.yml
Due: none

Added DeployPNCAPI
  Pipelines/DeployPNCAPI
Due: none

Updated DeployPNCAPI
  Pipelines/DeployPNCAPI
Due: none

Renamed DeployPNCAPI to DeployPNCAPI.yml
  Pipelines/DeployPNCAPI.yml
Due: none

Renamed DeployPNCAPI.yml to deployPNCAPI.yml
  Pipelines/deployPNCAPI.yml
Due: none

Updated deployPNCAPI.yml
  Pipelines/deployPNCAPI.yml
Due: none

add mock person controller, get by driver number
  PNC/NDIApiWrapper/Controllers/MockPersonController.cs
Due: Pipelines/deploy-mock-pnc-api.yml

add get person list by DL
  PNC/NDIApiWrapper/Controllers/MockPersonController.cs
Due: Pipelines/deploy-mock-pnc-api.yml

add people to mock nominal search
  PNC/NDIApiWrapper/Controllers/MockPersonController.cs
Due: Pipelines/deploy-mock-pnc-api.yml

add mock person by pnc id
  PNC/NDIApiWrapper/Controllers/MockPersonController.cs
Due: Pipelines/deploy-mock-pnc-api.yml

remove session wrapper
  PNC/NDIApiWrapper/Controllers/MockPersonController.cs
Due: Pipelines/deploy-mock-pnc-api.yml

add names driver
  PNC/NDIApiWrapper/Controllers/MockPersonController.cs
  PNC/NDIApiWrapper/Controllers/MockVehicleController.cs
Due: Pipelines/deploy-mock-pnc-api.yml

rewrite ndi pnc api connection
  PipelineTools/CanvasAppRewriter/Cumbria/SystemTest/VehicleTickets/NDIPNCAPIConnection.json
  PipelineTools/CanvasAppRewriter/Program.cs
  PipelineTools/CanvasAppRewriter/RewrittenCanvasApps/Cumbria/SystemTest/Schema/CanvasAppsVehicleCP/unpackedapp/Connections/Connections.json
Due: none

rewrite with connection owned by same user as app (pfp.service)
  PipelineTools/CanvasAppRewriter/Program.cs
Due: none

add correct version of connection replacement
  PipelineTools/CanvasAppRewriter/Cumbria/SystemTest/VehicleTickets/NDIPNCAPIConnection.json
Due: none

rewrite data source file as well
  PipelineTools/CanvasAppRewriter/Cumbria/SystemTest/VehicleTickets/NDIPNCAPIConnection.json
  PipelineTools/CanvasAppRewriter/Program.cs
  PipelineTools/CanvasAppRewriter/RewrittenCanvasApps/Cumbria/SystemTest/Schema/CanvasAppsVehicleCP/unpackedapp/Connections/Connections.json
  PipelineTools/CanvasAppRewriter/RewrittenCanvasApps/Cumbria/SystemTest/Schema/CanvasAppsVehicleCP/unpackedapp/DataSources/NDIPNCAPI.json
Due: none

rewrite
  PipelineTools/CanvasAppRewriter/Program.cs
Due: none

correct id
  PipelineTools/CanvasAppRewriter/Cumbria/SystemTest/VehicleTickets/NDIPNCAPIConnection.json
Due: none

different id
  PipelineTools/CanvasAppRewriter/Program.cs
  Schema/CanvasAppsVehicleCP/unpackedapp/Connections/empty.txt
Due: none

only uild cumbruia sys test
  Pipelines/releaseCanvasApp.yml
Due: none

dopn't copy empty.txt
  Pipelines/assembleAndCheck.yml
Due: none

delete sources
  Pipelines/releaseCanvasApp.yml
Due: none

remove empty.txt
  Schema/CanvasAppsVehicleCP/unpackedapp/Connections/empty.txt
Due: none

Update releaseCanvasApp.yml for Azure Pipelines
  Pipelines/releaseCanvasApp.yml
Due: none

rewrite xml as well
  PipelineTools/CanvasAppRewriter/Program.cs
  PipelineTools/CanvasAppRewriter/RewrittenCanvasApps/Cumbria/SystemTest/Schema/CanvasAppsVehicleCP/unpackedapp/Connections/Connections.json
  PipelineTools/CanvasAppRewriter/RewrittenCanvasApps/Cumbria/SystemTest/Schema/CanvasAppsVehicleCP/unpackedapp/DataSources/NDIPNCAPI.json
  PipelineTools/CanvasAppRewriter/RewrittenCanvasApps/Cumbria/SystemTest/Schema/CanvasAppsVehicleCP/unpackedapp/pkgs/wadl/NDIPNCAPI.xml
Due: none

copy xml as well
  Pipelines/assembleAndCheck.yml
Due: none

copy everything
  Pipelines/assembleAndCheck.yml
Due: none

rewrite xmlk
  PipelineTools/CanvasAppRewriter/Program.cs
Due: none

log
  PipelineTools/CanvasAppRewriter/Program.cs
Due: none

copy xml as well
  Pipelines/UpdateAppVersion.yml
Due: none

Updated UpdateAppVersion.yml
  Pipelines/UpdateAppVersion.yml
Due: none

Update devApiPipeline.yml for Azure Pipelines
  Pipelines/devApiPipeline.yml
Due: none

add cumbria and durham connections
  MiddleTier/API/appsettings.cumbriasystemtest.json
  MiddleTier/API/appsettings.durhamsystemtest.json
  MiddleTier/PowershellScripts/StartVM.ps1
  PipelineTools/CanvasAppRewriter/Program.cs
  PipelineTools/CanvasAppRewriter/RewrittenCanvasApps/Cumbria/SystemTest/Schema/CanvasAppsVehicleCP/unpacked/CanvasApps/cp_vehicletickets_8a92b.meta.xml
  PipelineTools/CanvasAppRewriter/RewrittenCanvasApps/Cumbria/SystemTest/Schema/CanvasAppsVehicleCP/unpacked/Other/customizations.xml
Due: Pipelines/devApiPipeline.yml, Pipelines/systemTestQueueListenersPipeline.yml

use correct environment
  MiddleTier/API/appsettings.cumbriasystemtest.json
Due: Pipelines/devApiPipeline.yml, Pipelines/systemTestQueueListenersPipeline.yml

rewrite for police api dvla connection as well
  PipelineTools/CanvasAppRewriter/Cumbria/SystemTest/VehicleTickets/PfPVehicleTickets.json
  PipelineTools/CanvasAppRewriter/Program.cs
  PipelineTools/CanvasAppRewriter/RewrittenCanvasApps/Cumbria/SystemTest/Schema/CanvasAppsVehicleCP/unpacked/CanvasApps/cp_vehicletickets_8a92b.meta.xml
  PipelineTools/CanvasAppRewriter/RewrittenCanvasApps/Cumbria/SystemTest/Schema/CanvasAppsVehicleCP/unpackedapp/DataSources/PoliceAPI.json
  PipelineTools/CanvasAppRewriter/RewrittenCanvasApps/Cumbria/SystemTest/Schema/CanvasAppsVehicleCP/unpackedapp/pkgs/wadl/policeapi.xml
Due: none
